

/* swiper-custom.css */
.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: #4ade80; /* Verde Tailwind (green-400) */
    opacity: 0.6;
    transition: transform 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.3);
    background-color: #22c55e; /* Verde más intenso (green-500) */
  }
  




/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #fff;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 150px;
}

.container-footer footer .redes-footer{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}

.redes-footer a{
    text-decoration: none;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover{
    background: #DE4C34;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

